*{
    padding: 0;
    margin: 0;
}

body {
    margin:0;
    width: 100%;
    background: #BFE9E7;
    font-family: 'Raleway', sans-serif;

}

#map svg { 
	display: inline-block;
	position: absolute;
	top: 0; left: 0;
	z-index: 0 ;
}
main {
    background: url("galerie/.png");
    background-position: cover;
    margin:  0 5%;
    padding: 1% 5%;
    height: auto;
}

body.flou {
   background: url("flou.png");
   background-size: cover;
   background-repeat: no-repeat;
   max-width: 100%;
   background-attachment: fixed;
}
body.n-flou {
   background: url("n-flou.png");
   background-size: cover;
   background-repeat: no-repeat;
   max-width: 100%;
   background-attachment: fixed;
}

.fond {
    height:100%;
}

.fond1 {
    width: 60%;
    height: auto;
  }
  
.no-link:hover {
    stroke: transparent;
}
.jour{
	fill: withe opacity 0.8;
}

.jour:hover {
    stroke: white;
    stroke-width: 5px;
    fill: transparent;
    opacity:0.9;
        transition: opacity 0.4s ease-in-out ;

}
.nuit:hover {
    stroke: #21516e;
    stroke-width: 5px;
    fill: transparent;
    opacity:0.9;
        transition: opacity 0.4s ease-in-out ;
}

#audioval {
    display:none;
}
.clock {
  background: #ececec;
  width: 140px;
  height: 140px;
  margin: 5% auto 0;
  margin-left: 59%;
  border-radius: 50%;
  border: 14px solid #5384a3;
  position: relative;
  box-shadow: 30px 10px 20px #9addd3;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #ebab32;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
}

.hour-hand {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 55px;
  background: #ee7916;
  top: 10px;
  transform-origin: 50% 60px;
  left: 50%;
  margin-left: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-hand {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 70px;
  background: #ee7916;
  top: -1px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 73px;
}

.second-hand {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 70px;
  background: #ebab32;
  top: -1px;
  lefT: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 73px;
}

span {
  display: inline-block;
  position: absolute;
  color: #333;
  font-size: 22px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 4;
}
.diallines:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 8px;
  height: 25px;
  background: #5384a3;
  top: -10px;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 80px;
  border-radius: 50%;
}

.info {
  position: absolute;
  width: 120px;
  height: 20px;
  border-radius: 7px;
  background: #ccc;
  text-align: center;
  line-height: 20px;
  color: #000;
  font-size: 11px;
  top: 200px;
  left: 50%;
  margin-left: -60px;
  font-family: "Poiret One";
  font-weight: 700;
  z-index: 3;
  letter-spacing: 3px;
  margin-left: -60px;
  left: 50%;
}

.clock1 {
  background: #6a6960;
  width: 140px;
  height: 140px;
  margin: 5% auto 0;
  margin-left: 59%;
  border-radius: 50%;
  border: 14px solid #091838;
  position: relative;
}

.dot1 {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #312a22;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  z-index: 10;
}

.hour-hand1 {
  position: absolute;
  z-index: 5;
  width: 4px;
  height: 55px;
  background: #301f1b;
  top: 10px;
  transform-origin: 50% 60px;
  left: 50%;
  margin-left: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.minute-hand1 {
  position: absolute;
  z-index: 6;
  width: 4px;
  height: 70px;
  background: #301f1b;
  top: -1px;
  left: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 68px;
}

.second-hand1 {
  position: absolute;
  z-index: 7;
  width: 2px;
  height: 70px;
  background: #312a22;
  top: -1px;
  lefT: 50%;
  margin-left: -2px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  transform-origin: 50% 73px;
}

span {
  display: inline-block;
  position: absolute;
  color: #333;
  font-size: 22px;
  font-family: 'Poiret One';
  font-weight: 700;
  z-index: 4;
}
.diallines1:nth-of-type(5n) {
  position: absolute;
  z-index: 2;
  width: 8px;
  height: 25px;
  background: #091838;
  top: -10px;
  left: 50%;
  margin-left: -1px;
  transform-origin: 50% 80px;
  border-radius: 50%;
}


.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}

.home-img {
    display : block;
    width: 7%;
    padding-top: 2%;
    padding-left : 2%;
    height:auto;
}

.page-header {
  text-align: center;
  margin-bottom : 1%;
}

h1 {
  font-size: 400%;
  font-family: 'Caveat Brush', cursive;
  font-weight: normal;
}

/** timeline box structure **/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-top: 2%;
}

.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #000000;
  left: 50%;
  margin-left: -1.5px;
}

.tldate {
  display: block;
  width: 200px;
  background: #73b2b0;
  border: 3px solid #015249;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}
.tldate1 {
  display: block;
  width: 200px;
  background: #5384a3;
  border: 3px solid #23597b;
  color: #ededed;
  margin: 0 auto;
  padding: 3px 0;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  -webkit-box-shadow: 0 0 11px rgba(0,0,0,0.35);
}

.timeline li {
  margin-bottom: 25px;
  position: relative;
}

.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
.timeline li:after {
  clear: both;
}
.timeline li:before, .timeline li:after {
  content: " ";
  display: table;
}
/** timeline panels **/

.timeline li .timeline-panel {
  width: 46%;
  float: left;
  background: #fff;
  border: 1px solid #d4d4d4;
  padding: 20px;
  position: relative;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
}

/** timeline circle icons **/
.timeline li .tl-circ {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #73b2b0;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #015249;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}
.timeline li .tl-circ1 {
  position: absolute;
  top: 23px;
  left: 50%;
  text-align: center;
  background: #5384a3;
  color: #fff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  margin-left: -16px;
  border: 3px solid #21516e;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  z-index: 99999;
}


/** timeline content **/

.tl-heading h4 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  color: #73b2b0;
}

.tl-body p, .tl-body ul {
  margin-bottom: 0;
}

.tl-body > p + p {
  margin-top: 5px;
}

/** panel arrows **/
.timeline li .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline li .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}

.timeline li .timeline-panel.noarrow:before, timeline li timeline-panel.noarrow {
  top: 0;
  right: 0;
  display: none;
  border: 0;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.image-box {
  height: 70%;
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: both;
  overflow: auto;
}

.main-image {
  border-radius: 10px;
  border: 3px solid white;
}

/** media queries **/
@media (max-width: 991px) {
  .timeline li .timeline-panel {
    width: 44%;
  }
}

@media (max-width: 700px) {
  .page-header 
  {font-size:1em;}
  
  ul.timeline:before {
    left: 40px;
  }
  
  .tldate {width: 140px;}
  
  ul.timeline li .timeline-panel {
    width: calc(100% - 90px);
    width: -moz-calc(100%- 90px);
    width: -webkit-calc(100%-90px);
  }
  
  ul.timeline li .tl-circ {
    top: 22px;
    left: 22px;
    margin-left: 0;
  }
  ul.timeline > li > .tldate {
    margin: 0;
  }
  ul.timeline > li > .timeline-panel {
    float: right;
  }
  ul.timeline > li > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto; 
  }
  ul.timeline > li > .timeline-panel:after {
    border-left-width: 0;
    border-right-width:14px;
    left: -14px;
    right: auto; 
  }
  .image-box {
    max-width: 100%;
    max-height: 100%;
    justify-content: left;
    align-items: left;
    resize: both;
    overflow: auto;
    margin-left: 0;
    padding-left: 0;
  }
  .main-image {
    min-width: 200px;
  }
  .page-header {
    text-align: left;
  }
}
div > button {
  display: block;
  width: 100%;
}

div.box {
    display: flex;
    column-count: 2;
    column-gap: 2%;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  box-shadow: 0 1px 6px rgba(0,0,0,0.15);
  width: 90%;
  height: auto;
  margin-top: 5%;
  border-radius: 7px;
}

img.illus {
    width: 30%;
    border-radius: 7px 0 0 7px;
}

div.presentation {
    width: 40%;
    padding: 1% 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h4 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    color: #73b2b0;
    font-weight: bold;
}

li {
    list-style-type: none;
}

div.ti {
    margin-bottom: 3%;
}

button.infor {
    background-color: #73b2b0;
    border-radius: 7px;
    padding: 1%;
    border-style: none;
}

a.plus {
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
}

/* pop up */
#pop {
    background-color: white;
    width: 10%;
    height: 10%;
    padding:1%;
    border-radius: 7px;
    float: left;
    margin-left: 5%;
    position: relative;
    z-index: 7;
    display: flex;
    flex-direction: column;
}

.up {
        font-family: 'Raleway', sans-serif;
        margin-bottom: 3%;
}
.dark {
    color: #5384a3;
}


.lien {
    display: contents;
}

.cdm {
    border-radius: 7px 0 0 7px;
    max-width:50%;
}

div.gallery {
  margin: 5px;
}

div.gallery:hover {
    border: solid black 1px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.gal {
    max-width: 100%;
    column-count: 3;
    margin: 10% 10% 10% 10%;
}
.doss {
    width: 300px;
    height: 50px;
    background-color: #73b2b0;
    border-radius: 7px;
    border: none;
}
.doss-n {
    width: 300px;
    height: 50px;
    background-color: #5384a3;
    border-radius: 7px;
    border: none;
}

.doss:hover {
    border: solid black 1px;
}

.bouton {
    text-decoration: none;
    color: white;
}
